<form-crud titulo="Crud Usuarios" mensagem="mensagem">

	<table class="table">
		<tr ng-repeat="row in lista.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
			<td>{{row.nome}}</td>
		</tr>
	</table>
	View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.

	<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
	<pre>The selected page no: {{currentPage}}</pre>


	total {{totalItems}}

	currentPage {{currentPage}}

	itemsPerPage {{itemsPerPage}}
</form-crud>