<form-crud titulo="Cadastro de Usuários" mensagem="mensagem">

	<div class="panel-body">

		<div class="row col-md-12">
			<div class="form-group">
				<label >Nome</label>
				<input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="usuario.nome" required>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="form-group">
				<label >Login</label>
				<input type="text" class="form-control" id="login" name="login" placeholder="Login" ng-model="usuario.login" required="true">
			</div>
		</div>
		<div class="row col-md-12">
			<div class="form-group" ng-class="{'has-error': !isSenhaValida}">
				<label >Senha</label>
				<input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" ng-model="usuario.senha" ng-keyup="validarSenha()" required="true">
			</div>
		</div>

		<div class="row col-md-12">
			<div class="form-group" ng-class="{'has-error': !isSenhaValida}">
				<label >Repetir Senha</label>
				<input type="password" class="form-control" id="repetirSenha" name="repetirSenha" placeholder="Repetir Senha" ng-model="usuario.repetirSenha" ng-keyup="validarSenha()" required="true">
				<div style="margin-top: 5px;" class="alert alert-danger" role="alert" ng-hide="isSenhaValida">Senha e repetir senha não são iguais!</div>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<td>Nome</td>
				<td>Login</td>
			</thead>
			<tbody>
				<tr ng-repeat="usuario in lista">
					<td><button type="button" class="btn btn-link" ng-click="carregarEditar(usuario)">{{usuario.nome}}</button></td>
					<td><button type="button" class="btn btn-link" ng-click="carregarEditar(usuario)">{{usuario.login}}</button></td>
				</tr>
			</tbody>
		</table>
		<datatable></datatable>

		
	</div>
</form-crud>

<!--form name="form">
	<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
	ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
	ngf-resize="{width: 100, height: 100}">Select</div>
	<button type="submit" ng-click="submit()">submit</button>
</form-->

<form name="form">
	<div class="input-group">
		<input type="file" class="form-control" ngf-select ng-model="file" name="file"    
		accept="image/*" ngf-max-size="2MB" required
		ngf-model-invalid="errorFile">
	</div>
	<i ng-show="form.file.$error.required">*required</i><br>
	<i ng-show="form.file.$error.maxSize">File too large 
		{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
		<img ng-show="form.file.$valid" ngf-thumbnail="file" class="thumb"> <button ng-click="file = null" ng-show="file">Remover</button>
		<button type="submit" ng-click="submit()">submit</button>
	</form>