<form-crud titulo="Cadastro de Usuários" mensagem="mensagem">

	<div class="panel-body">

		<div class="row col-md-12">
			<div class="form-group">
				<label >Nome</label>
				<input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="Usuario.usuario.nome" required>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="form-group">
				<label >Login</label>
				<input type="text" class="form-control" id="login" name="login" placeholder="Login" ng-model="Usuario.usuario.login" required="true">
			</div>
		</div>
		<div class="row col-md-12">
			<div class="form-group" ng-class="{'has-error': !Usuario.isSenhaValida}">
				<label >Senha</label>
				<input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" ng-model="Usuario.usuario.senha" ng-keyup="Usuario.validarSenha()" required="true">
			</div>
		</div>

		<div class="row col-md-12">
			<div class="form-group" ng-class="{'has-error': !Usuario.isSenhaValida}">
				<label >Repetir Senha</label>
				<input type="password" class="form-control" id="repetirSenha" name="repetirSenha" placeholder="Repetir Senha" ng-model="Usuario.usuario.repetirSenha" ng-keyup="Usuario.validarSenha()" required="true">
				<div style="margin-top: 5px;" class="alert alert-warning" role="alert" ng-hide="Usuario.isSenhaValida">Senha e repetir senha não são iguais!</div>
			</div>
		</div>

	</div>
</form-crud>