<form-crud titulo="Cadastro de Notícias" mensagem="mensagem">

	<div class="panel-body" ng-init="NoticiaDetail.init()">
		<div class="col-md-10">
			<div class="row">
				<div class="form-group">
					<label >Titulo</label>
					<input type="text" class="form-control" name="titulo" placeholder="Título" ng-model="NoticiaDetail.noticia.titulo" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label >Texto</label>
					<textarea name="textarea" class="form-control" rows="10" placeholder="Texto" ng-model="NoticiaDetail.noticia.texto" required></textarea>
				</div>
			</div>

			<div class="row" ng-show="!NoticiaDetail.noticia.imagem">
				<form name="frm2">
					<div class="input-group">
						<input type="file" class="form-control" ngf-select ng-model="NoticiaDetail.file" name="file"    
						accept="image/*" ngf-max-size="2MB" 
						ngf-model-invalid="errorFile">
					</div>
					<i ng-show="frm2.file.$error.required">*required</i><br>
					<i ng-show="frm2.file.$error.maxSize">File too large 
						{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
						<img ng-show="frm2.file.$valid" ngf-thumbnail="NoticiaDetail.file" class="thumb"> 
						<button ng-click="NoticiaDetail.file = null" ng-show="NoticiaDetail.file" class="btn btn-default">Remover</button>
						<button ng-click="NoticiaDetail.submit()" ng-show="NoticiaDetail.file && NoticiaDetail.noticia._id" class="btn btn-default">Enviar</button>
					</form>
				</div>

				<div class="row" ng-show="NoticiaDetail.noticia.imagem">
					<img ng-src="{{NoticiaDetail.noticia.imagem.caminho}}">
					<button ng-click="NoticiaDetail.noticia.imagem = null" class="btn btn-default">Remover</button>
				</div>
			</div>
		</div>
	</form-crud>
