<datatable titulo="Notícias" link="noticias.carregar({id: 'new'})" scope="NoticiaList" >
	<table class="table table-striped" ng-init="NoticiaList.initLista()">
		<thead>
			<td>Titulo</td>
		</thead>
		<tbody>
			<tr ng-repeat="noticia in NoticiaList.lista">
				<td><button type="button" class="btn btn-link" ui-sref="noticias.carregar({id: noticia._id})">{{::noticia.titulo}}</button></td>
			</tr>
		</tbody>
	</table>
</datatable>

