<div class="row">
	<div class="col-md-8" >
		<p ng-show="mensagem.length" class="alert alert-danger">
			{{mensagem}}
		</p>
	</div>
	<div class="col-md-8" >
		<div class="jumbotron">
			<center><h2>Conectar</h2></center>
		</div>

		<form name="frmLogin">
			<div class="form-group">
				<label>Login</label>
				<input type="text" ng-model="Login.usuario.login" placeholder="Login" class="form-control" required>
			</div>

			<div class="form-group">
				<label>Senha</label>
				<input type="password" ng-model="Login.usuario.senha" placeholder="Senha" class="form-control" required>
			</div>
			<div style="margin-top: 15px;">
				<button class="btn btn-primary" ng-click="Login.conectar()" ng-disabled="frmLogin.$invalid">Entrar</button> 
				<button class="btn btn-default" ng-click="Login.novoUsuario()">Novo usuário</button>
			</div>
		</form>

	</div>
</div>