.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
menu {
  display: block;
}
menu > div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
menu > div.left {
  background: #eee;
  left: -250px;
}
menu > div.show.left {
  transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
}
menu > div.right {
  background: #6B1919;
  right: -250px;
}
menu > div.show.right {
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}
menu > div > menu-item {
  display: block;
}
menu > div > menu-item > div {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px rgba(85, 85, 85, 0.12);
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #337ab7;
}
menu > div > menu-item > div:hover {
  color: #F0F0F0;
}
menu > div > menu-item > div > span {
  float: left;
  color: inherit;
}
