.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; -webkit-transition: @value; -moz-transition: @value; -ms-transition: @value; -o-transition: @value; transition: @value; }
.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform:@value; -ms-transform:@value; -webkit-transform:@value; -o-transform:@value; -moz-transform:@value; }
.border-box { box-sizing:border-box; -moz-box-sizing:border-box; }

menu { display:block;
    @menu-width:250px;
    >div { position:absolute; z-index:2; top:0;  width:@menu-width; height:100%; .border-box; .transition(-webkit-transform ease 250ms); .transition(transform ease 250ms);
        &.left { background:#273D7A; left:@menu-width*-1; }
        &.show.left { .transform(translate3d(@menu-width, 0, 0)); }

        &.right { background:#6B1919; right:@menu-width*-1; }
        &.show.right { .transform(translate3d(@menu-width*-1, 0, 0)); }

        >menu-item { display:block;
            >div { float:left; width:100%; margin:0; padding:10px 15px; border-bottom:solid 1px #555; cursor:pointer; .border-box; color:#B0B0B0;
                &:hover { color:#F0F0F0; }
                >span { float:left; color:inherit; }
            }
        }
    }
}