<html ng-app="talk">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/main.css">
	<!--link rel="stylesheet" href="css/sidebar.css">
	<link rel="stylesheet" href="css/styles.css"-->
	<link rel="stylesheet" href="css/simple-sidebar.css">

	<script src="node_modules/angular/angular.min.js"></script>
	<!--script src="lib/js/angular/angular-route.min.js"></script-->
	<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="lib/js/locale/angular-locale_pt-br.js"></script>

	<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

	<script src="main.js"></script>

	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/usuario.js"></script>
	<script src="js/controllers/principal.js"></script>
	<script src="js/controllers/crud.js"></script>
	<script src="js/controllers/noticia/noticia-list.js"></script>
	<script src="js/controllers/noticia/noticia-detail.js"></script>
	<script src="js/controllers/evento/evento-list.js"></script>
	<script src="js/controllers/evento/evento-detail.js"></script>
	<script src="js/controllers/convenio/convenio-list.js"></script>
	<script src="js/controllers/convenio/convenio-detail.js"></script>

	<script src="js/services/usuario.js"></script>
	<script src="js/services/noticia.js"></script>
	<script src="js/services/evento.js"></script>
	<script src="js/services/convenio.js"></script>
	<script src="js/services/informativo.js"></script>
	<script src="js/services/upload.js"></script>
	<script src="js/services/token-interceptor.js"></script>
	<script src="js/services/http-interceptor.js"></script>
	<script src="js/services/teste.js"></script>

	<script src="js/directives/formulario.js"></script>
	<script src="js/directives/menu.js"></script>
	<script src="js/directives/loader.js"></script>
	<script src="js/directives/datatable.js"></script>

	<script src="js/config/loadingInterceptador.js"></script>

	<title>Talk</title>
</head>
<body>
	<div class="container" style="margin: 0px;" ng-if="!isLogado">
		<div class="alert alert-danger" role="alert" ng-show="isError">
			{{error}}
		</div>
		<div class="col-md-12" >
			<ui-view></ui-view> 
		</div>
	</div>

	<div class="ch-container" ng-if="isLogado">
		<div class="row">

			<div id="loaderDiv" loader  ng-show="showEl">
				<img src="assets/img/ajaxloader.gif" />
			</div>

			<div class="alert alert-danger" role="alert" ng-show="isError">
				{{error}}
			</div>

			<div class="col-sm-2 col-lg-2">
				<div class="sidebar-nav">
					<div class="nav-canvas">
						<div class="nav-sm nav nav-stacked">

						</div>
						<ul class="nav nav-pills nav-stacked main-menu">
							<li class="nav-header">Main</li>
							<li><a class="ajax-link" ui-sref="noticias.list"><i class="glyphicon glyphicon-home blue"></i><span> Notícias</span></a></li>
							<li><a class="ajax-link" ui-sref="eventos.list"><i class="glyphicon glyphicon-home blue"></i><span> Eventos</span></a></li>
							<li><a class="ajax-link" ui-sref="convenios.list"><i class="glyphicon glyphicon-home blue"></i><span> Convênios</span></a></li>
							<li class="nav-header hidden-md">Sample Section</li>
							<li><a class="ajax-link" ui-sref="crud"><i class="glyphicon glyphicon-align-justify blue"></i><span> Crud Teste</span></a></li>
							<li class="accordion">
								<a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#">Child Menu 1</a></li>
									<li><a href="#">Child Menu 2</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<div id="content" class="col-lg-10 col-sm-10">
				<ui-view></ui-view>
			</div>
		</div>
	</div>

</body>
</html>