<form-crud titulo="Cadastro de Convênios" mensagem="mensagem">

	<div class="panel-body" ng-init="ConvenioDetail.init()">
		<div class="col-md-10">
			<div class="row">
				<div class="form-group">
					<label >Área</label>
					<input type="text" class="form-control" name="area" placeholder="Área" ng-model="ConvenioDetail.convenio.area" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label >Titulo</label>
					<input type="text" class="form-control" name="titulo" placeholder="Título" ng-model="ConvenioDetail.convenio.titulo" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="form-group">
							<label >Email</label>
							<input type="text" class="form-control" name="email" placeholder="Email" ng-model="ConvenioDetail.convenio.email" required>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="form-group">
							<label >Telefone</label>
							<input type="text" class="form-control" name="telefone" placeholder="Telefone" ng-model="ConvenioDetail.convenio.telefone" mask="(99)99999-9999" required >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label >Texto</label>
					<textarea name="textarea" class="form-control" rows="10" placeholder="Texto" ng-model="ConvenioDetail.convenio.texto" required></textarea>
				</div>
			</div>
		</div>
	</div>
</form-crud>
