<datatable titulo="Convênios" link="convenios.carregar({id: 'new'})" scope="ConvenioList" >
	<table class="table table-striped" ng-init="ConvenioList.initLista()">
		<thead>
			<td>Titulo</td>
		</thead>
		<tbody>
			<tr ng-repeat="convenio in ConvenioList.lista">
				<td><button type="button" class="btn btn-link" ui-sref="convenios.carregar({id: convenio._id})">{{::convenio.titulo}}</button></td>
			</tr>
		</tbody>
	</table>
</datatable>

