<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>{{titulo | uppercase}}</h4>
	</div>
	<div class="panel-body">
		<ng-transclude></ng-transclude>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a ng-class="{disabled: scope.paginaAtual <= 1}" ng-click="carregarPagina(scope.paginaAtual - 1)" aria-label="Anterior">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li ng-repeat="pag in montarPaginas(scope.totalPaginas) track by $index" ng-class="{active: $index + 1 == scope.paginaAtual}">
					<a ng-click="carregarPagina($index + 1)">{{$index + 1}}</a>
				</li>
				<li>
					<a ng-class="{disabled: scope.paginaAtual >= scope.totalPaginas}" ng-click="carregarPagina(scope.paginaAtual + 1)" aria-label="Próximo">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		<div style="margin-top: 15px;">
		<button class="btn btn-default" ui-sref="{{link}}">Novo</button> 
		</div>
	</div>
</div>