<div class="row" >
	<div class="col-md-8" >
		<p ng-show="mensagem.length" class="alert alert-danger">
			{{mensagem}}
		</p>
	</div>

	<form name="frm">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>{{titulo | uppercase}}</h4>
			</div>
			<ng-transclude></ng-transclude>
		</div>

		<div style="margin-top: 15px;">
			<button type="submit" class="btn btn-primary" ng-click="salvar()" ng-disabled="frm.$invalid">Salvar</button> 
			<button class="btn btn-default" ng-click="limpar()" >Limpar</button> 
			<button class="btn btn-danger" ng-click="voltar()" >Voltar</button> 
		</div>
	</form>

</div>