<form-crud titulo="Cadastro de Eventos" mensagem="mensagem">

	<div class="panel-body" ng-init="EventoDetail.init()">
		<div class="col-md-10">
			<div class="row">
				<div class="form-group">
					<label >Titulo</label>
					<input type="text" class="form-control" name="titulo" placeholder="Título" ng-model="EventoDetail.evento.titulo" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label >Texto</label>
					<textarea name="textarea" class="form-control" rows="10" placeholder="Texto" ng-model="EventoDetail.evento.texto" required></textarea>
				</div>
			</div>
		</div>
	</div>
</form-crud>
