<datatable titulo="Eventos" link="eventos.carregar({id: 'new'})" scope="EventoList" >
	<table class="table table-striped" ng-init="EventoList.initLista()">
		<thead>
			<td>Titulo</td>
		</thead>
		<tbody>
			<tr ng-repeat="evento in EventoList.lista">
				<td><button type="button" class="btn btn-link" ui-sref="eventos.carregar({id: evento._id})">{{::evento.titulo}}</button></td>
			</tr>
		</tbody>
	</table>
</datatable>

